@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
header, footer {
    background-color: #222222;
}

.main-nav {
    display: flex;
    height: 12vh;
    justify-content: space-between;  /* Esto crea el espacio máximo posible entre los dos divs */
    align-items: center; /* Centra verticalmente los contenidos de los divs */
    padding: 0 28px; /* Añade un poco de espacio a los lados por estética */
}

.logo-name {
    display: flex;
    align-items: center;
}

h1 {
    position: relative;
    left: 16px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

.pizza {
    color: green;  /* Verde */
}

.symbol {
    color: white;  /* Blanco */
}

.font {
    color: red;    /* Rojo */
}

.list-nav {
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Sombra horizontalmente centrada y ligeramente desplazada hacia abajo */
    
}

.list-nav {
    display: flex;
    padding: 0;  /* Remueve el padding por defecto de la lista */
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

.list-nav li {
    margin-right: 20px;  /* Añade un margen a la derecha de cada elemento <li> */
}

/* Remover el margen del último elemento para que no haya un espacio adicional al final */
.list-nav li:last-child {
    margin-right: 0;
}

main {
    background-color: #f4f4f4;
    padding: 20px 28px;
    margin: auto;
    display: flex;
    margin: auto;
}

.right-main {
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100%; 
    margin: 0 auto
}

.right-main > H2 {
    align-self: flex-start; 
    display: flex;
    color: #FC200C;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: flex-start;
    text-align: center;
}

.top5 {
    display: flex;
    }

.top5 section {
    position: relative;
    right: 40px;
    top: 50px;
}

article section h3 {
    position: top;
    color: #222;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}  

.top5 section ol {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20px;
    left: 24px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    list-style: lower;
}

.top5 section ol li {
    color: #222;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.top5 img{
    position: relative;
    top: 50px;
    left: 60px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    height: 20vh;
    padding: 0 28px;
}

.nav-grasoso{
    position: relative;
    top: 16px;
}

.nav-grasoso ul {
    color: #F3F3F3;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
display: flex;
flex-direction: column;
justify-content: flex-end;
gap: 16px;
}

.grasa {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 20px;
}